
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-row-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-col-bottom {
  align-items: flex-end;
}

.flex-col-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}